<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrunchCart - {{title}}</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/flash.css" rel="stylesheet">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <!-- <div class="flash-container" id="flashContainer">
            {{ category }} , {{ message }}
        </div> -->
    <div class="flash-message {{ category }}" id="flashMsg">
        <button class="close-btn" onclick="hideFlash()">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if title!= "Login" and title!="Signup" %}
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">CrunchCart</div>

            <ul class="nav-links" id="navLinks">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="{{ url_for('favourites') }}">Favorites</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('order') }}">Order</a></li>
                {% if user %}
                        <li class="user-small"><a href="{{ url_for('userProfile') }}">Me</a></li>
                {% else %}
                        <li class="user-small"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>

            <div class="user-large">
                <ul class="nav-links" id="navLinks">
                    {% if user %}
                        <a href="{{ url_for('userProfile') }}">Me</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </ul>
            </div>

            <div class="hamburger" onclick="toggleMobileNav()">☰</div>
        </div>
    </nav>

    {% endif %}
    {% block content %}

    {% endblock content %}
    <script src="../static/js/script.js"></script>
</body>