{% extends "base.html" %}



{% block content %}


    <div id="favorites" class="page">
        <section class="favorites-header">
            <div class="container">
                <h1>Your Favorites</h1>
                <p>Your handpicked selection of delicious chips</p>
            </div>
        </section>

        <section class="container">
            <div id="favoritesContent">
                <div class="empty-favorites">
                    <i class="fas fa-heart"></i>
                    <h3>No favorites yet!</h3>
                    <p>Start browsing our products and add your favorites here.</p>
                    <a href="#" class="cta-button" onclick="showPage('products')">Browse Products</a>
                </div>
            </div>
        </section>
    </div>





{% endblock content %}


