{% extends"base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/fav.css">

<div class="container">
    <div class="header">
        <h1>Discover Your<br>Favorite Flavors</h1>
        <p>Explore exotic flavors and toppings collected from around the world to delight your snack cravings.</p>
    </div>

    <div class="scroll-wrapper">
        <button class="scroll-btn left" onclick="scrollLeft()">&#10094;</button>

        <div class="chips-container" id="chipsContainer">
            {% for chip in chipsData %}
            <a href="{{url_for('ProductDetail',id=chip)}}">
                <div class="chip-packet">
                    <img src="../static/images/{{ chipsData[chip]['image_url'] }}" alt="{{ chipsData[chip]['name'] }}">
                </div>
            </a>
            {% endfor %}
        </div>

        <button class="scroll-btn right" onclick="scrollRight()">&#10095;</button>
    </div>
</div>
{% endblock content %}