{% extends "base.html" %}


{% block content %}


    <!-- Products Page -->
    <div id="products" class="page">
        <section class="products-header">
            <div class="container">
                <h1>Our Premium Collection</h1>
                <p>Discover our handcrafted selection of gourmet chips</p>
            </div>
        </section>

        <section class="container">
    <div class="products-container">
    {% for chip in chips.values() %}
    <div class="product-box">
        <img src="{{ url_for('static', filename='images/chip['image_url']') }}">
        <h2>{{ chip.name }}</h2>
        <p class="price">₹{{ chip.price }}</p>
        <button class="view-btn">View Details</button>
    </div>
    {% endfor %}
</div>

        </section>
    </div>



{% endblock content %}

